.alertContainer {
  background: rgb(247, 164, 164);
  padding: 0.5rem;
  margin: 0.5rem auto 0 auto;
  width: 30rem;
  border-radius: 1rem;
  &_red-alert {
    font-weight: 700;
    font-size: 1.2rem;
  }
}
