.primary-button {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  &:hover {
    background-color: darken($color: #00aeef, $amount: 10%);
  }
}
.logOutBtn {
  position: absolute;
  right: 0;
}
