.primary-heading {
  font-size: 8rem;
  width: 100%;
}
.secondary-heading {
  font-size: 4rem;
}
.tertiary-heading {
  font-size: 2.5rem;
}
.primary-span {
  color: #00aeef;
  font-size: 1.5rem;
}
.primary-p {
  font-size: 1.5rem;
  font-weight: 300;
}
.light-p {
  color: gray;
}
