.blogPostsContainer {
  padding: 5rem;
  padding-bottom: 30rem;
  height: 100%;
}
.blogContentContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 2rem;
  border-radius: 1rem;

  &-content {
    position: relative;
    margin: 1rem;
    height: 90%;
    padding: 2rem;
    border: solid 2px rgb(216, 216, 216);
    border-radius: 1rem;
    transition: all 1s;

    cursor: pointer;
    &-box {
      text-align: center;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 100;
      top: 0;
      left: 0;
      transition: all 1s;
      overflow: hidden;
      &:hover &-color {
        transform: translateX(-20%) translateY(-10%) rotate(30deg);
      }
      &-details {
        height: 100%;
        position: relative;
        z-index: 150;

        &:hover &-txt {
          opacity: 1;
        }
        &-txt {
          top: 0;
          left: 0;
          right: 0;
          position: absolute;
          margin: 12rem auto 0 auto;
          opacity: 0;
          transition: all 1s;
        }
      }
      &-color {
        position: absolute;
        background: yellow;
        height: 250%;
        width: 200%;
        z-index: 100;
        transform: translateX(-110%) translateY(-60%) rotate(30deg);
        transition: all 1s;
        opacity: 0.7;
      }
    }

    &-image {
      position: relative;
      height: 20rem;
      object-fit: cover;
      width: 100%;
      border-radius: 1rem;
    }
    &-details {
      text-align: center;
      height: 100%;
    }
  }
}
