.homePage {
  padding: 3rem;
  text-align: left;
  height: 90vh;
  background: red;
  width: 90vw;
  margin: 2rem auto 0rem auto;
  border-radius: 2rem;
  &_createBlogContainer {
    padding: 4rem;
    border-radius: 1rem;
    border: solid 2px lightblue;
    width: 80%;
    margin: 0 auto 0 auto;
  }
}
