.navContainer {
  padding: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_navTitle {
    display: flex;
    align-items: center;
  }
}
